@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&display=swap');

body {
    font-family: 'IM Fell French Canon', serif;
}

#showcase {
    height: 95vh;
    background-image: url("Images/header.jpg");
    background-position: center;
    background-size: cover;
}

@media (min-width: 992px){
    .card-text {
        height: 110px;
    }
}

@media (min-width: 1200px){
    .card-text {
        height: 90px;
    }
}

@media (min-width: 1400px){
    .card-text {
        height: 70px;
    }
}